* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
header h1 {
    text-align: center;
    border: 3px solid brown;
    background-color:navy;
    color: azure;
}
.R {
    width: 900px;
    margin: 0 auto 30px auto;
    background-color: palegoldenrod;
    color:saddlebrown;
    overflow: auto;
}
img {
    width: 35%;
    float: left;
}
B {
    padding: 35px;
    float: left;
    width: 65%;
}
.B h3 {
    font-size: 32px;
    margin-bottom: 8px;
}.btn {
    color: rgb(4, 81, 81);
    font-size: 16px;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    padding: 1px ;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    background: rgb(250, 79, 227);
    border: 2px solid burlywood;
}
.btn:hover {
    background: transparent;
    border-color:mediumvioletred;
    color:maroon;
}
a {
    text-decoration: none;
}





